

/*** 
=====================================================
	Theme Main Color Css
=====================================================
***/
.clr3,
.header-contact-info2 ul li span::before,
.header-contact-info2 ul li a:hover,
.main-menu.style3 .navigation>li>a.home .home_icon,
.main-menu.style3 .navigation>li:hover>a, 
.main-menu.style3 .navigation>li.current>a, 
.main-menu.style3 .navigation>li>ul>li>a:hover,
.main-menu.style3 .navigation> li> ul> li.dropdown> a:after,
.main-menu.style3 .navigation> li> ul> li> ul> li> a:hover,
.locations-content-box .inner-content .single-box h3,
.outer-search-box-style3 .seach-toggle.active,
.outer-search-box-style3 .seach-toggle:hover,
.about-style3_text_box .sec-title h2 span,
.faq-style2-image-box .phone_number .outer-box .text h2 a:hover,
.slogan-content-box .left-box .icon span::before,
.rating-box ul li a,
.single-blog-style3 .text-holder .blog-title a:hover,
.footer-bottom-style3 .copyright-text p a:hover


{
    color: #ffca28;
}














/*** 
=====================================================
	Theme Main Background Color Css
=====================================================
***/
.bgclr3,
.main-menu.style3 .navigation> li> ul> li> a:before,
.main-menu.style3 .navigation> li> ul> li> ul> li a:before,
.nav-outer.style3 .mobile-nav-toggler .inner,
.locations-Carousel .owl-dots .owl-dot.active span,
.locations-Carousel .owl-dots .owl-dot.active,
.header-style3_right__btn a,
.single-features-style2:hover .btn-one,
.single-features-style2.active .btn-one,
.single-features-style2 .btn-one::before,
.single-features-style2-bg:before,
.about-style3_image_box .icon::before,
.sec-title.style3 .sub-title .border-box,
.about-style3_text_box .btn-one::before,
.single-service-style3 .text-holder .btn-one::before,
.single-project-style3 .img-holder .overly-content::before,
.faq-style2-image-box .box1::before,
.slogan-content-box .button-box .btn-one,
.single-blog-style3 .text-holder .meat_box .meta-info .auther a,
.footer-style3 .footer_consultation_box .text .top:before,
.footer-style3 .single-footer-widget-2 .title::before,
.footer-style3 .footer-widget-links2 li a:before,
.footer-bottom-style3 .social-links-style1 li a:hover i


{
    background: #ffca28;
}










/*** 
=====================================================
	Theme Main Border Color Css
=====================================================
***/
.main-slider.style3 .owl-theme .owl-nav .owl-prev:hover,
.main-slider.style3 .owl-theme .owl-nav .owl-next:hover,
.accordion-box-style2 .accordion .accord-btn.active:after,
.footer-bottom-style3 .social-links-style1 li a:hover i


{
    border-color: #ffca28;
}












.locations-Carousel .owl-dots .owl-dot.active{
    border: 1px solid #ffca28;
}
.accordion-box-style2 .accordion .accord-btn::before{
    border: 1px solid #ffca28;  
}














