


/*** 
=============================================
    About Style1 Area Css   
=============================================
***/
.about-style1-area{
    position: relative;
    display: block;
    background: #ffffff;
    padding: 0px 0 80px;
}

.about-style1-image-box{
    position: relative;
    display: block;
    max-width: 720px;
    width: 100%;
    margin-left: -110px;
}
.about-style1-image-box ul{
    position: relative;
    display: block;
    overflow: hidden;
    margin-left: -10px;
    margin-right: -10px;
}
.about-style1-image-box ul li{
    position: relative;
    display: block;
    float: left;
    width: 50%;
    padding: 0 10px 30px;
}
.about-style1-image-box ul li .image_box{
    position: relative;
    display: block;
    overflow: hidden;
}
.about-style1-image-box ul li .image_box img{
    width: 100%;
    transition: all 3500ms ease;    
}
.about-style1-image-box ul li:hover .image_box img{
    transform: scale(1.5) rotate(2deg);    
}
.about-style1-image-box ul li .image_box .overlay-box {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 200px;
    background-color: #ffffff;
    text-align: center;
    padding: 18px 0px 0px;
}
.about-style1-image-box ul li .image_box .overlay-box .top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 2px;
}
.about-style1-image-box ul li .image_box .overlay-box .top .icon {
    position: relative;
    display: block;
    padding-right: 15px;
}
.about-style1-image-box ul li .image_box .overlay-box .top .icon span::before {
    font-size: 60px;
}
.about-style1-image-box ul li .image_box .overlay-box .top .counting{
    position: relative;
    display: flex;
    align-items: center;
}
.about-style1-image-box ul li .image_box .overlay-box .top .counting span {
    color: #2739a7;
    font-size: 48px;
    line-height: 50px;
    font-weight: 600;
    font-family: 'Exo', sans-serif;
}
.about-style1-image-box ul li .image_box .overlay-box .top .counting .icon{
    position: relative;
    display: block;
    padding: 0;
}
.about-style1-image-box ul li .image_box .overlay-box .top .counting .icon i::before {
    position: relative;
    display: inline-block;
    padding-left: 3px;
    color: #2739a7;
    font-size: 20px;
    font-weight: 700;
}
.about-style1-image-box ul li .image_box .overlay-box p {
    color: #222222;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    margin: 0;
}


.about-style1-image-box ul li .image_box.right{
    margin-top: 75px;
}
.about-style1-image-box ul li .image_box.right::after {
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(255,255,255, .7) 0%, rgba(255,255,255,.3) 100%);
    transform: skewX(25deg);
    z-index: 2;
}
.about-style1-image-box ul li:hover .image_box.right::after {
    -webkit-animation: shine 1.9s;
    animation: shine 1.9s;
}



.about-style1-content-box {
    position: relative;
    display: block;
    padding-top: 30px;
    margin-left: -110px;
    margin-right: -110px;
}
.about-style1-content-box .sec-title{
    padding-bottom: 15px;
}
.about-style1-content-box .inner-content{
    position: relative;
    display: block;
}
.about-style1-content-box .inner-content .top_text{
    position: relative;
    display: block;
}
.about-style1-content-box .inner-content .top_text p{
    color: #222222;
    font-size: 24px;
    line-height: 34px;
}
.about-style1-content-box .inner-content ul {
    position: relative;
    display: block;
    overflow: hidden;
    margin-top: 51px;
}


.about-style1-content-box .inner-content ul li {
    position: relative;
    display: block;
    padding-left: 100px;
    margin-bottom: 45px;
    min-height: 100px;
}
.about-style1-content-box .inner-content ul li:last-child{
    margin-bottom: 0;
}
.about-style1-content-box .inner-content ul li .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    padding-right: 10px;
    padding-bottom: 10px;
    transition: all 200ms linear;
    transition-delay: 0.1s;
}
.about-style1-content-box .inner-content ul li:hover .icon{
    padding-right: 0px;
    padding-bottom: 0px;
    
    padding-left: 10px;
    padding-top: 10px;
}


.about-style1-content-box .inner-content ul li .icon::before{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #e6e8f1;
    border-radius: 50%;
    content: "";
}

.about-style1-content-box .inner-content ul li .icon .inner{
    position: relative;
    display: block;
    width: 90px;
    height: 90px;
    background:#ffffff;
    border-radius: 50%;
}
.about-style1-content-box .inner-content ul li .icon span::before {
    position: relative;
    display: block;
    font-size: 80px;
    line-height: 90px;
    text-align: center;
    font-weight: 100;
}
.about-style1-content-box .inner-content ul li .text{
    position: relative;
    display: block;
    padding-left: 30px;
}
.about-style1-content-box .inner-content ul li .text h3 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    margin-bottom: 3px;
}
.about-style1-content-box .inner-content ul li .text p{
    margin: 0;
}



/*** 
=============================================
    About Style2 Area Css
=============================================
***/
.about-style2-area{
    position: relative;
    display: block;
    background: #ffffff;
    padding-top: 0px;
    padding-bottom: 110px;
}


.about-style2_image_box {
    position: relative;
    display: block;
    max-width: 535px;
    width: 100%;
    margin-top: -20px;
    z-index: 11;
}
.about-style2_image_box .inner{
    position: relative;
    display: block;
    overflow: hidden;
} 
.about-style2_image_box .inner img{
    width: 100%;
    transition: all 3500ms ease;    
}

.about-style2_image_box .experience-box {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: -45px;
    bottom: 25px;
    width: 300px;
    background: #ffffff;
    box-shadow: 0px 0px 13.5px 1.5px rgba(0, 0, 0, 0.05);
    padding: 7px 30px 4px;
    padding-right: 0px;
}
.about-style2_image_box .experience-box::before{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #1f67b0;
    content: "";
}
.about-style2_image_box .experience-box .left{
    position: relative;
    display: block;
}
.about-style2_image_box .experience-box .left .counting {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.about-style2_image_box .experience-box .left .counting span {
    position: relative;
    display: inline-block;
    font-size: 48px;
    line-height: 42px;
    font-weight: 800;
    font-family: 'Exo', sans-serif;
}
.about-style2_image_box .experience-box .left .counting .icon{
    position: relative;
    display: block;
    padding-left: 3px;
}
.about-style2_image_box .experience-box .left .counting .icon i {
    font-size: 20px;
    font-weight: 700;
}
.about-style2_image_box .experience-box .left p {
    color: #222222;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    margin: 0;
}
.about-style2_image_box .experience-box .right{
    position: relative;
    display: block;
}
.about-style2_image_box .experience-box .right span::before {
    color: #cddfec;
    font-size: 156px;
}



.about-style2_text_box{
    position: relative;;
    display: block;
    padding-top: 70px;
}
.about-style2_text_box .sec-title {
    padding-bottom: 15px;
}
.about-style2_text_box .inner-content{
    position: relative;
    display: block;
}
.about-style2_text_box .inner-content .top_text {
    position: relative;
    display: block;
    margin-bottom: 24px;
}
.about-style2_text_box .inner-content .text {
    position: relative;
    display: block;
    margin-bottom: 43px;
}
.about-style2_text_box .inner-content .text p{
    margin: 0;
}
.about-style2_text_box .inner-content .top_text p{
    color: #222222;
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    margin: 0;

}
.about-style2_text_box .inner-content ul {
    position: relative;
    display: block;
    overflow: hidden;
    border-top: 1px solid #cddfec;
    padding-top: 35px;
}
.about-style2_text_box .inner-content ul li {
    position: relative;
    display: flex;
    align-items: center;
    float: left;
    border-right: 1px solid #cddfec;
    padding-right: 35px;
    margin-right: 35px;
}
.about-style2_text_box .inner-content ul li:last-child{
    border-right: none;
    padding-right: 0px;
    margin-right: 0px;
}
.about-style2_text_box .inner-content ul li .icon{
    position: relative;
    display: block;
}
.about-style2_text_box .inner-content ul li .icon .inner{
    position: relative;
    display: block;
}
.about-style2_text_box .inner-content ul li .icon .inner span::before {
    font-size: 60px;
    padding-right: 20px;
}
.about-style2_text_box .inner-content ul li .title{
    position: relative;
    display: block;
}
.about-style2_text_box .inner-content ul li .title h3 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
}



/*** 
=============================================
    About Style3 Area Css
=============================================
***/
.about-style3-area{
    position: relative;
    display: block;
    background: #ffffff;
    padding-top: 110px;
    padding-bottom: 110px;
}

.about-style3_image_box{
    position: relative;
    display: block;
    max-width: 535px;
    width: 100%;
    height: 100%;
}
.about-style3_image_box .inner{
    position: relative;
    display: block;
    overflow: hidden;
    height: 100%;
}
.about-style3_image_box .inner img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.about-style3_image_box .icon-Outer{
    position: absolute;
    top: 80px;
    left: 0;
    width: 80px;
    height: 115px;
    background: #ffffff;
    opacity: 0.50;
}
.about-style3_image_box .icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 70px;
    left: -70px;
    width: 140px;
    height: 115px;
    z-index: 1;
    overflow: hidden;
}
.about-style3_image_box .icon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 27px;
    bottom: 0;
    right: -27px;
    z-index: -1;
    -moz-transform: skew(-25deg, 0deg);
    -webkit-transform: skew(-25deg, 0deg);
    -o-transform: skew(-25deg, 0deg);
    -ms-transform: skew(-25deg, 0deg);
    transform: skew(-25deg, 0deg);
}
.about-style3_image_box .icon span::before {
    position: relative;
    left: 15px;
    color: #222222;
    font-size: 175px;
    line-height: 175px;
}


.about-style3_text_box{
    position: relative;
    display: block;
    padding-left: 10px;
}
.about-style3_text_box .sec-title.with_text {
    padding-top: 15px;
    padding-bottom: 24px;
}
.about-style3_text_box .sec-title h2 span {
    position: relative;
    display: inline-block;
    font-weight: 500;
    padding-top: 7px;
}
.about-style3_text_box .sec-title p {
    font-size: 24px;
    line-height: 34px;
    margin: 0;
    margin-top: 22px;
}
.about-style3_text_box .inner-content{}
.about-style3_text_box .inner-content .text{}
.about-style3_text_box .inner-content .text p{}
.about-style3_text_box .readmore-button{
    position: relative;
    display: block;
    margin-top: 33px;
}
.about-style3_text_box .btn-one {
    color: #222222;
    background: #ffffff;
    border: 1px solid #222222;
    line-height: 48px;
    padding-left: 25px;
    padding-right: 25px;
}
.about-style3_text_box .btn-one::before{
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
}



/*** 
=============================================
    About Style4 Area Css
=============================================
***/
.about-style4-area{
    position: relative;
    display: block;
    padding: 120px 0px 120px;
}
.about-style4-content-box{
    position: relative;
    display: block;
    max-width: 530px;
    width: 100%;
}
.about-style4-content-box .sec-title{
    padding-bottom: 41px;
}
.about-style4-content-box .inner-content{
    position: relative;
    display: block;
}
.about-style4-content-box .inner-content .text{
    position: relative;
    display: block;
    padding-bottom: 27px;
}

.video-gallery_box_3 {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.video-gallery_box_3 .icon{
    position: relative;
    display: block;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    z-index: 1;
}
.video-gallery_box_3 .icon:before {
    position: absolute;
    content: '';
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    border-radius: 50%;
    opacity: 0.50;
    z-index: -1;
}
.video-gallery_box_3 .icon::after {
    position: absolute;
    content: '';
    top: -10px;
    left: -10px;
    bottom: -10px;
    right: -10px;
    border-radius: 50%;
    opacity: 0.30;
    z-index: -1;
}
.about-style4-content-box .inner-content:hover .video-gallery_box_3 .icon:before {
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0, .60);
    box-shadow: 0 0 0 0 rgba(0,0,0, .60);
    -webkit-animation: ripple 1s infinite;
    animation: ripple 3s infinite
}
.about-style4-content-box .inner-content .icon a span:before {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-size: 20px;
    line-height: 55px;
    text-align: center;
}


.video-gallery_box_3 .title{
    position: relative;
    display: inline-block;
    margin-left: 25px;
}
.video-gallery_box_3 .title:before {
    position: absolute;
    left: 0px;
    bottom: 0;
    right: 0;
    height: 2px;
    background: #2739a7;
    content: "";
}
.video-gallery_box_3 .title h5{
    color: #2739a7;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    margin: 0;
}


.about-style4-image-box{
    position: relative;
    display: block;
    margin-left: 35px;
    margin-right: -140px;
}
.about-style4-image-box .icon-box {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-style4-image-box .icon-box .inner{
    position: relative;
    display: block;
    height: 130px;
    width: 130px;
    background: #ffffff;
    border-radius: 50%;
    font-size: 80px;
    text-align: center;
    line-height: 130px;
    z-index: 1;
}
.about-style4-image-box ul{
    position: relative;
    display: block;
    overflow: hidden;
    margin-left: -10px;
    margin-right: -10px;
}
.about-style4-image-box ul li{
    position: relative;
    display: block;
    float: left;
    width: 50%;
    padding: 0 10px 0px;
}
.about-style4-image-box ul li .image_box{
    position: relative;
    display: block;
    overflow: hidden;
}
.about-style4-image-box ul li .image_box img{
    width: 100%;
    transition: all 3500ms ease;    
}
.about-style4-image-box ul li:hover .image_box img{
    transform: scale(1.5) rotate(2deg);    
}

.about-style4-image-box ul li .image_box.right{
    margin-top: 25px;
}
.about-style4-image-box ul li .image_box.right::after {
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(255,255,255, .7) 0%, rgba(255,255,255,.3) 100%);
    transform: skewX(25deg);
    z-index: 2;
}
.about-style4-image-box ul li:hover .image_box.right::after {
    -webkit-animation: shine 1.9s;
    animation: shine 1.9s;
}



/*** 
=============================================
    About Style5 Area Css
=============================================
***/
.about-style5-area{
    position: relative;
    display: block;
    padding: 0px 0px 120px;
}
.about-style5-area .thm_logo{
    position: absolute;
    top: 200px;
    right: -160px;
    font-size: 530px;
    color: #e9ebf4;
    opacity: 0.30;
}

.about-style5-image-box{
    position: relative;
    display: block;
    margin-right: -55px;
}
.about-style5-image-box img{
    max-width: none;
    float: right;
}


.about-style5-content-box {
    position: relative;
    display: block;
    margin-left: 12px;
    padding-top: 54px;
    padding-bottom: 178px;
}
.about-style5-content-box .sec-title.with_text {
    padding-bottom: 53px;
}
.about-style5-content-box .inner-content{
    position: relative;
    display: block;
}
.about-style5-content-box .inner-content ul {
    position: relative;
    display: block;
    overflow: hidden;
}
.about-style5-content-box .inner-content ul li {
    position: relative;
    display: block;
    float: left;
    width: 50%;
    padding-left: 80px;
    margin-bottom: 55px;
    min-height: 85px;
}
.about-style5-content-box .inner-content ul li .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    padding-top: 10px;
    padding-left: 10px;
    transition: all 200ms linear;
    transition-delay: 0.1s;
}
.about-style5-content-box .inner-content ul li .icon::before{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #e5e7f0;
    border-radius: 50%;
    content: "";
}
.about-style5-content-box .inner-content ul li .icon .inner{
    position: relative;
    display: block;
    width: 70px;
    height: 70px;
    background:#ffffff;
    border-radius: 50%;
}
.about-style5-content-box .inner-content ul li .icon span::before {
    position: relative;
    display: block;
    color: #222222;
    font-size: 70px;
    line-height: 70px;
    text-align: center;
    font-weight: 100;
}
.about-style5-content-box .inner-content ul li .text{
    position: relative;
    display: block;
    padding-left: 20px;
}
.about-style5-content-box .inner-content ul li .text h3 {
    color: #222222;
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
    margin-bottom: 3px;
}
.about-style5-content-box .inner-content ul li .text p{
    color: #222222;
    margin: 0;
}


.video-gallery_box_5 {
    position: absolute;
    left: -390px;
    bottom: 0;
    width: 835px;
    padding-right: 55px;
}
.video-gallery_box_5 .border_bottom{
    position: absolute;
    left: -460px;
    bottom: 0;
    width: 519px;
    height: 3px;
}
.video-gallery_box_5 .inner_text {
    position: relative;
    display: block;
    padding-left: 65px;
    padding-right: 120px;
    background: #2739a7;
    padding-top: 41px;
    padding-bottom: 41px;
}
.video-gallery_box_5 .inner_text h3{
    color: #ffffff;
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}
.video-gallery_box_5 .icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    z-index: 2;
}
.video-gallery_box_5 .icon a{
    position: relative;
    display: block;
    width: 124px;
    height: 124px;
    background: #ffffff;
    border-radius: 50%;
    font-size: 30px;
    line-height: 124px;
    text-align: center;
    box-shadow: 0px 0px 13.5px 1.5px rgba(0, 0, 0, 0.05);
    z-index: 1;
}
.video-gallery_box_5 .icon a::before{
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    border: 2px solid #e7e9f2;
    border-radius: 50%;
    z-index: -1;
}



/*** 
=============================================
    About Style3 Area About Page2 Css      
=============================================
***/
.about-style3-area.about-page2 {}
.about-style3-area.about-page2 .about-style3_image_box .icon span::before {
    color: #ffffff;
}
.about-style3-area.about-page2 .about-style3_text_box .sec-title h2 span {
    color: #2739a7;
}



/*** 
=============================================
    About Style1 Area About Page 1 Css      
=============================================
***/
.about-style1-area.about-page1{
    padding: 110px 0 0px;
}
.about-page1_image_box{
    position: relative;
    display: block;
    overflow: hidden;
}
.about-page1_image_box img{
    width: 100%;
}
.video-gallery_box_7{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
}
.video-gallery_box_7 .inner{
    position: relative;
    display: block;
    padding: 20px;
}
.video-gallery_box_7 .inner a{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    line-height: 56px;
    text-align: center;
}
.about-style1-content-box.about-page1_content_box{
    padding-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 40px;    
}