

/*** 
=====================================================
	Main Slider style
=====================================================
***/
.main-slider {
    position: relative;
    display: block;
    background: #ffffff;
    z-index: 10;
}
.main-slider.style1 {
    margin-top: 185px;
}
.main-slider .top_shadow{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 250px;
    background-image: -moz-linear-gradient( 90deg, rgba(0,0,0,0) 0%, rgb(0,0,0) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgba(0,0,0,0) 0%, rgb(0,0,0) 100%);
    background-image: -ms-linear-gradient( 90deg, rgba(0,0,0,0) 0%, rgb(0,0,0) 100%);
    opacity: 0.302;
    z-index: 1;
}


.main-slider .slide {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 220px 0px 160px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.main-slider .slide .image-layer{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	-webkit-transform: scale(1);
	-ms-transform:scale(1);
	transform:scale (1);
    transition: all .8s ease-in-out .4s;
    z-index: 1;
}
.main-slider .slide .image-layer:before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}
.main-slider.style1 .slide .image-layer:before{
    background-color: rgba(0, 0, 0, 0.65);
}

.main-slider .active .slide .image-layer{
	-webkit-transform:scale(1.0);
	-ms-transform:scale(1.0);
	transform:scale(1.0);
}
.main-slider .content{
	position:relative;
	z-index:11;
}
.main-slider.style1 .content{
    position: relative;
    display: block;
    width: 100%;
    z-index: 10;
}
.main-slider .auto-container{
    position: relative;
    overflow: hidden;
}
.main-slider .content h3{
    position: relative;
    display: block;
    overflow: hidden;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.3em;
    font-weight: 700;
    text-transform: uppercase;
	opacity: 0;
    -webkit-transform: perspective(400px) rotateX(0deg) translateY(80px);
    -ms-transform: perspective(400px) rotateX(0deg) translateY(80px);
    transform: perspective(400px) rotateX(0deg) translateY(80px);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
    font-family: 'Lato', sans-serif;
}
.main-slider .active .content h3{
	opacity: 1;
    -webkit-transform: perspective(400px) rotateX(0deg) translateY(0px);
    -ms-transform: perspective(400px) rotateX(0deg) translateY(0px);
    transform: perspective(400px) rotateX(0deg) translateY(0px);
    -webkit-transition-delay: 1000ms;
    -moz-transition-delay: 1000ms;
    -ms-transition-delay: 1000ms;
    -o-transition-delay: 1000ms;
    transition-delay: 1000ms;     
}

.main-slider .content .big-title{
    position: relative;
    display: block;
    overflow: hidden;
    margin-top: 10px;
	opacity: 0;
    -webkit-transform: perspective(400px) rotateY(0deg) translateY(-120px);
    -ms-transform: perspective(400px) rotateY(0deg) translateY(-120px);
    transform: perspective(400px) rotateY(0deg) translateY(-120px);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
}
.main-slider .active .content .big-title{
	opacity: 1;
    -webkit-transform: perspective(400px) rotateY(0deg) translateY(0px);
    -ms-transform: perspective(400px) rotateY(0deg) translateY(0px);
    transform: perspective(400px) rotateY(0deg) translateY(0px);
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -ms-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    transition-delay: 500ms;   
}
.main-slider .content .big-title h2{
	color: #ffffff;
	font-size: 70px;
	line-height: 1.2em;
	font-weight: 700;
}


.main-slider .content .btns-box{
	position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-top: 56px;
	opacity: 0;
    -webkit-transform: perspective(400px) rotateY(0deg) translateY(80px);
    -ms-transform: perspective(400px) rotateY(0deg) translateY(80px);
    transform: perspective(400px) rotateY(0deg) translateY(80px);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transition: all 1500ms ease;
    -moz-transition: all 1500ms ease;
    -ms-transition: all 1500ms ease;
    -o-transition: all 1500ms ease;
    transition: all 1500ms ease;
}
.main-slider .content .btns-box a{
    padding-left: 40px;
    padding-right: 40px;
}
.main-slider .active .content .btns-box{
	opacity: 1;
    -webkit-transform: perspective(400px) rotateY(0deg) translateY(0px);
    -ms-transform: perspective(400px) rotateY(0deg) translateY(0px);
    transform: perspective(400px) rotateY(0deg) translateY(0px);
    -webkit-transition-delay: 1500ms;
    -moz-transition-delay: 1500ms;
    -ms-transition-delay: 1500ms;
    -o-transition-delay: 1500ms;
    transition-delay: 1500ms; 
}

.main-slider .content .btns-box .left{
    position: relative;
    display: block;
}

.main-slider .content .btns-box .video-gallery_box_4{
    position: relative;
    display: block; 
    padding-left: 30px;   
}
.main-slider .content .btns-box .video-gallery_box_4 .inner{
    position: relative;
    display: flex;
    align-items: center;
}
.main-slider .content .btns-box .video-gallery_box_4 .inner .icon a{
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    color: #ffffff;
    font-size: 25px;
    line-height: 76px;
    text-align: center;
    padding: 0;
}
.main-slider .content .btns-box .video-gallery_box_4 .inner h4{
    position: relative;
    padding-left: 15px;
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-family: 'Lato', sans-serif;
}





.main-slider .owl-theme .owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    transition-delay: .1s;
    transition-timing-function: ease-in-out;
    transition-duration: .5s;
    transition-property: all;
    transform-origin: bottom;
    transform-style: preserve-3d;
    line-height: 0;
    opacity: 0;
    transform: scale(1.0) translateY(-30px);
}
.main-slider:hover .owl-theme .owl-nav{
    opacity: 1;
}
.main-slider .owl-theme .owl-prev span, 
.main-slider .owl-theme .owl-next span{
    display: block;
}
.main-slider .owl-theme .owl-nav .owl-prev {
    position: absolute;
    left: 50px;
    top: 0;
    background: transparent;
    border: 2px solid #ffffff;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
    font-size: 25px;
    line-height: 56px;
    font-weight: 400;
    opacity: 1;
    margin: 0;
    padding: 0;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.main-slider .owl-theme .owl-prev span:before {
    
}
.main-slider .owl-theme .owl-nav .owl-next {
    position: absolute;
    right: 50px;
    top: 0;
    transform: rotate(0deg);
    background: transparent;
    border: 2px solid #ffffff;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
    font-size: 25px;
    line-height: 56px;
    font-weight: 400;
    opacity: 1;
    margin: 0;
    padding: 0;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.main-slider .owl-theme .owl-next span:before{
    
}
.banner-carousel .owl-dots {
    display: none;
}
.main-slider.style1 .banner-carousel.owl-carousel .owl-dots{
    display: none;
}



/*** 
=====================================================
	Main Slider style2 style
=====================================================
***/
.main-slider.style2 {
    margin-top: 60px;
}
.main-slider.style2 .slide {
    padding: 240px 0px 170px;
}
.main-slider.style2 .slide .image-layer:before{
    background-color: rgba(0, 0, 0, 0.65);
}

.main-slider.style2 .content .big-title h2 {
    font-size: 60px;
}
.main-slider.style2 .content .text{
    position: relative;
    display: block;
    overflow: hidden;
    margin-top: 14px;
	opacity: 0;
    -webkit-transform: perspective(400px) rotateX(0deg) translateY(80px);
    -ms-transform: perspective(400px) rotateX(0deg) translateY(80px);
    transform: perspective(400px) rotateX(0deg) translateY(80px);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
}
.main-slider.style2 .content .text p{
    color: #ffffff;
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
.main-slider.style2 .active .content .text{
	opacity: 1;
    -webkit-transform: perspective(400px) rotateX(0deg) translateY(0px);
    -ms-transform: perspective(400px) rotateX(0deg) translateY(0px);
    transform: perspective(400px) rotateX(0deg) translateY(0px);
    -webkit-transition-delay: 1000ms;
    -moz-transition-delay: 1000ms;
    -ms-transition-delay: 1000ms;
    -o-transition-delay: 1000ms;
    transition-delay: 1000ms;     
}

.main-slider.style2 .content .btns-box{
	position: relative; 
    display: flex;
    align-items: center;
    justify-content: left;
    padding-top: 42px;
}
.main-slider.style2 .content .btns-box a{
    padding-left: 35px;
    padding-right: 35px;
}
.main-slider.style2 .content .btns-box .right{
    position: relative;
    display: block;
    padding-left: 15px;
}
.main-slider.style2 .content .btns-box .right a{
    background: #1f67b0;    
}




/*** 
=====================================================
	Main Slider style3 style
=====================================================
***/
.main-slider.style3 {
    margin-top: 0px;
}
.main-slider.style3 .top_shadow{
    background-image: -moz-linear-gradient( 90deg, rgba(0,0,0,0) 0%, rgb(0,0,0) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgba(0,0,0,0) 0%, rgb(0,0,0) 100%);
    background-image: -ms-linear-gradient( 90deg, rgba(0,0,0,0) 0%, rgb(0,0,0) 100%);
    opacity: 0.6;
    height: 250px;
}
.main-slider.style3 .shadow_box{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: -moz-linear-gradient( 0deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
    opacity: 0.85;
    z-index: 1;
}


.main-slider.style3 .slide {
    padding: 317px 0px 150px;
}
.main-slider.style3 .slide .image-layer:before{
    display: none;
}

.main-slider .content .sub_title{
    position: relative;
    display: block;
    overflow: hidden;
    padding-left: 35px;
	opacity: 0;
    -webkit-transform: perspective(400px) rotateX(0deg) translateY(-80px);
    -ms-transform: perspective(400px) rotateX(0deg) translateY(-80px);
    transform: perspective(400px) rotateX(0deg) translateY(-80px);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
}
.main-slider .active .sub_title{
	opacity: 1;
    -webkit-transform: perspective(400px) rotateX(0deg) translateY(0px);
    -ms-transform: perspective(400px) rotateX(0deg) translateY(0px);
    transform: perspective(400px) rotateX(0deg) translateY(0px);
    -webkit-transition-delay: 1000ms;
    -moz-transition-delay: 1000ms;
    -ms-transition-delay: 1000ms;
    -o-transition-delay: 1000ms;
    transition-delay: 1000ms;     
}
.main-slider .content .sub_title::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 25px;
    height: 1px;
    background: #ffffff;
    content: "";
    margin: 12px 0;
}
.main-slider .content .sub_title h4{
    color: #ffffff;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

.main-slider.style3 .content .big-title{
    margin-top: 12px;
    margin-bottom: 16px;
}
.main-slider.style3 .content .big-title h2 {
    font-size: 60px;
}

.main-slider.style3 .content h3{
    font-size: 24px;
    font-weight: 400;
    text-transform: none;
    -webkit-transform: perspective(400px) rotateX(0deg) translateY(80px);
    -ms-transform: perspective(400px) rotateX(0deg) translateY(80px);
    transform: perspective(400px) rotateX(0deg) translateY(80px);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
    font-family: 'Lato', sans-serif;
}
.main-slider.style3 .active .content h3{
	opacity: 1;
    -webkit-transform: perspective(400px) rotateX(0deg) translateY(0px);
    -ms-transform: perspective(400px) rotateX(0deg) translateY(0px);
    transform: perspective(400px) rotateX(0deg) translateY(0px);
    -webkit-transition-delay: 1000ms;
    -moz-transition-delay: 1000ms;
    -ms-transition-delay: 1000ms;
    -o-transition-delay: 1000ms;
    transition-delay: 1000ms;     
}


.main-slider.style3 .content .btns-box{
	position: relative; 
    display: flex;
    align-items: center;
    justify-content: left;
    padding-top: 44px;
}
.main-slider.style3 .content .btns-box a{
    padding-left: 35px;
    padding-right: 35px;
}
.main-slider.style3 .content .btns-box .left{
    position: relative;
    display: block;
}
.main-slider.style3 .content .btns-box .left a{
    color: #222222;
}
.main-slider.style3 .content .btns-box .left a:hover{
    color: #ffffff;
}

.main-slider.style3 .content .btns-box .right{
    position: relative;
    display: block;
    padding-left: 15px;
}
.main-slider.style3 .content .btns-box .right a{
    background: transparent;
    border: 2px solid #ffffff; 
    line-height: 56px;   
}




/*** 
=====================================================
	Main Slider style4 style
=====================================================
***/
.main-slider.style4 {
    margin-top: 0px;
}
.main-slider.style4 .slide {
    padding: 175px 0px 180px;
}
.main-slider.style4 .slide .image-layer:before{
    background-color: rgba(0, 0, 0, 0.35);
}

.main-slider.style4 .content .big-title{
    position: relative;
    display: inline-block;
    padding: 0 40px;
}
.main-slider.style4 .content .big-title::before{
    position: absolute;
    top: 10px;
    left: 0;
    bottom: 10px;
    width: 5px;
    content: "";
}
.main-slider.style4 .content .big-title::after{
    position: absolute;
    top: 10px;
    right: 0;
    bottom: 10px;
    width: 5px;
    content: "";
}

.main-slider.style4 .content .big-title h2 {
    font-size: 60px;
}

.main-slider.style4 .content .text{
    position: relative;
    display: block;
    overflow: hidden;
    margin-top: 8px;
	opacity: 0;
    -webkit-transform: perspective(400px) rotateX(0deg) translateY(80px);
    -ms-transform: perspective(400px) rotateX(0deg) translateY(80px);
    transform: perspective(400px) rotateX(0deg) translateY(80px);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
}
.main-slider.style4 .content .text p{
    color: #ffffff;
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
.main-slider.style4 .active .content .text{
	opacity: 1;
    -webkit-transform: perspective(400px) rotateX(0deg) translateY(0px);
    -ms-transform: perspective(400px) rotateX(0deg) translateY(0px);
    transform: perspective(400px) rotateX(0deg) translateY(0px);
    -webkit-transition-delay: 1000ms;
    -moz-transition-delay: 1000ms;
    -ms-transition-delay: 1000ms;
    -o-transition-delay: 1000ms;
    transition-delay: 1000ms;     
}

.main-slider.style4 .content .btns-box{
	position: relative; 
    padding-top: 42px;
}
.main-slider.style4 .content .btns-box a{
    padding-left: 35px;
    padding-right: 35px;
    margin: 0 10px;
}
.main-slider.style4 .content .btns-box .right{
    position: relative;
    display: block;
}
.main-slider.style4 .content .btns-box .right a{
    background: #2739a7;    
}




/*** 
=====================================================
	Main Slider style5 style
=====================================================
***/
.main-slider.style5 {
    margin-top: 80px;
}
.main-slider.style5 .slide {
    padding: 246px 0px 160px;
}
.main-slider.style5 .slide .image-layer:before{
    background-color: rgba(0, 0, 0, 0.45);
}
.main-slider.style5 .top_shadow{
    background-image: -moz-linear-gradient( 90deg, rgba(0,0,0,0) 0%, rgb(0,0,0) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgba(0,0,0,0) 0%, rgb(0,0,0) 100%);
    background-image: -ms-linear-gradient( 90deg, rgba(0,0,0,0) 0%, rgb(0,0,0) 100%);
    opacity: 0.6;
    height: 250px;
}
.main-slider.style5 .shadow_box{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: -moz-linear-gradient( 0deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
    opacity: 0.85;
    z-index: 1;
}


.main-slider.style5 .content .sub_title h4{
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
.main-slider.style5 .content .big-title{
    margin-top: 11px;
    margin-bottom: 16px;    
}
.main-slider.style5 .content .big-title h2 {
    font-size: 60px;
}
.main-slider.style5 .content h3{
    color: #ffffff;
    font-size: 24px;
    line-height: 1.3em;
    font-weight: 400;
    text-transform: none;
}
.main-slider.style5 .content .btns-box{
	position: relative; 
    display: flex;
    align-items: center;
    justify-content: left;
    padding-top: 44px;
}
.main-slider.style5 .content .btns-box a{
    padding-left: 40px;
    padding-right: 40px;
}
.main-slider.style5 .content .btns-box .left{
    position: relative;
    display: block;
}

.main-slider.style5 .content .btns-box .video-gallery_box_4 .inner .icon a {
    width: 50px;
    height: 50px;
    border: 2px solid #ffffff;
    font-size: 15px;
    line-height: 46px;
}


































