

/*** 
=============================================
    Breadcrumb area style
=============================================
***/
.breadcrumb-area {
    position: relative;
    display: block;
    overflow: hidden;
    margin-top: 185px;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 147px 0 85px;
    z-index: 10;
}
.breadcrumb-area:before{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000000;
    opacity: 0.55;
    content: "";
    z-index: -1;
}
.breadcrumb-area:after{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 250px;
    content: "";
    background-image: -moz-linear-gradient( 90deg, rgba(0,0,0,0) 0%, rgb(0,0,0) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgba(0,0,0,0) 0%, rgb(0,0,0) 100%);
    background-image: -ms-linear-gradient( 90deg, rgba(0,0,0,0) 0%, rgb(0,0,0) 100%);
    opacity: 0.302;
    z-index: -1;
}



.breadcrumb-area .inner-content {
    position: relative;
    display: block;
    overflow: hidden;
}
.breadcrumb-area .title {
    position: relative;
    display: block;
    overflow: hidden;
}
.breadcrumb-area .title h2{
    color: #ffffff;
    font-size: 60px;
    line-height: 1.3em;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0 0 11px;
}

.breadcrumb-menu{
    position: relative;
    display: block;
    line-height: 0;
}
.breadcrumb-menu ul {
    position: relative;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
    padding: 12px 25px 12px;
}
.breadcrumb-menu ul li {
    position: relative;
    display: inline-block;
    float: left;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    padding-right: 21px;
    margin-right: 20px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}
.breadcrumb-menu ul li::before{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    background: #e8e8e8;
    content: "";
}
.breadcrumb-menu ul li:last-child:before{
    display: none;
}
.breadcrumb-menu ul li:last-child{
    padding-right: 0;
    margin-right: 0;
}

.breadcrumb-menu ul li a {
    transition: all 200ms linear;
    transition-delay: 0.1s;
}
.breadcrumb-menu ul li.active,
.breadcrumb-menu ul li:hover a {
    color: #222222;
}



/*** 
=============================================
    Breadcrumb Style2 Area Css
=============================================
***/
.breadcrumb-style2-area {
    margin-top: 80px;
    padding-top: 188px;
    padding-bottom: 110px;
}
.breadcrumb-style2-area .title h2 {
    margin: 0 0 21px;
}



